[ broker_dn ]
countryName                     = Country Name (2 letter code)
countryName_min			= 2
countryName_max			= 2
stateOrProvinceName             = State or Province Name
localityName                    = Locality Name
0.organizationName              = Organization Name
organizationalUnitName          = Organizational Unit Name
commonName                      = Common Name
commanName_max			= 64

countryName_default		= AT
stateOrProvinceName_default	= Vienna
localityName_default		= Vienna
0.organizationName_default	= TU Wien
organizationalUnitName_default	= IoT 17/18

[ broker_an ]
IP				= 192.168.44.1

[ broker_ext ]
nsCertType			= server
subjectAltName			= @broker_an

[ req ]
distinguished_name		= broker_dn
req_extensions			= broker_ext
default_bits			= 4096
default_md			= sha512
